html {
    background-color: #1A1A1A;
    color: white;
}

/* divider for stuff */

.background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #333;
}

#id1 {
    max-width: 20%;
    height: auto;
}

#MOMMY-MOMMY {
    color: white;
    font-family: monospace;
    font-size: 1.75em;
    display: inline-flex;
    align-items: center;
  }

  .terminal-container {
    color: white;
    font-family: monospace;
    font-size: 1.75em;
  }
  
  .cursor {
    display: inline-block;
    width: 10px;
    animation: blink-caret 0.75s step-end infinite;
    color: white;
    margin-left: 5px;
  }
  
  @keyframes blink-caret {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }

 #overlay {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: radial-gradient(circle 300px at var(--x) var(--y), transparent, #000);
    pointer-events: none;
    z-index: 999;
}

/* main */

.e-cont {
  background: url('./images/file-expl.png') no-repeat center center;
  background-size: 900px 500px;
  
  position: absolute;
  top: 50px;
  left: 50px;
  width: 900px;
  height: 500px;
  z-index: 10;
}

.file-content {
  position: absolute;
  top: 106px;
  left: 144px;
  width: 650px;
  height: 350px;
}