html {
    background-color: #1A1A1A;
    color: white;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* This keeps the page from scrolling/creating gaps */
}

/* divider for stuff */

#id1 {
    max-width: 20%;
    height: auto;
}

#MOMMY-MOMMY {
    color: white;
    font-family: monospace;
    font-size: 1.75em;
    display: inline-flex;
    align-items: center;
  }

  .terminal-container {
    color: white;
    font-family: monospace;
    font-size: 1.75em;
  }
  
  .cursor {
    display: inline-block;
    width: 10px;
    animation: blink-caret 0.75s step-end infinite;
    color: white;
    margin-left: 5px;
  }
  
  @keyframes blink-caret {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }

  #ov-flash {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 400;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

 #overlay {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: radial-gradient(circle 200px at var(--x) var(--y), transparent, #000);
    pointer-events: none;
    z-index: 999;
}

/* main */

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#desk {
  background-color: #4e3822;
  background-image: url("./images/desk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; 
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}